@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Regular";
  src: url("./fonts/Satoshi-Regular.woff2");
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("./fonts/Satoshi-Medium.woff2");
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("./fonts/Satoshi-Bold.woff2");
}
@font-face {
  font-family: "MonumentExtended-Regular";
  src: url("./fonts/MonumentExtended-Regular.woff2");
}

@layer components {
  .transs {
    transition: all 0.2s linear;
  }
  .transs:hover {
    transition: all 0.2s linear;
  }
  .bg-layer {
    background: linear-gradient(
      175deg,
      #000 4.29%,
      #3d8bff 47.39%,
      #ab23ff 95.05%
    );
    mix-blend-mode: soft-light;
  }
  .purple-gradient {
    background: linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .button-gradient {
    background: linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%);
  }
}
